@charset "UTF-8";

@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/*COLOURS
grey #858585
light teal #C9E6CE
mid teal #90D2C1
dark teal #49BDB5
darkest teal #339999
*/

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color: rgba(144,210,193,0.15);
}

.four{
	text-align: center;
	margin-left: 40%;
	text-decoration: none;
}

/*HEADER*/
	
header{
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	width: 100%;
	z-index: 10;
	height: 6.5em;
}

.logo {
	margin: 15px;
	width: 4.5em;
}

.nav-btn, 
.nav-btn:link, 
.nav-btn:visited{
	display: block;
	height: 60px;
	width: 60px;
	position: absolute;
	top: 20%;
	right: 2em;
	background: url(../images/nav-icon.svg) no-repeat right center;
}

.nav{
	width: 100%;
	float: right;
	margin: 1.6em 0;
	right: 5em;
}

.nav li {
	display: inline;
}

.nav-bar a, 
.nav-bar a:link, 
.nav-bar a:visited{
	list-style: none;
	float: right;
	color: #858585;
	text-decoration: none;
	margin: 1em;
}

.nav-bar a:hover,
.nav-bar a:focus,
.nav-bar a:active{	
	color: #90D2C1;
}

.nav-top{
	display: none;
}

.nav-bar{
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 35em) {
	
	.nav-top[data-state="expanded"]{
	display: inline;
	position: absolute;
	margin-bottom: 30px;
}

}

@media only screen and (max-width: 35em) {
	
	.nav-top[data-state="expanded"]{
		display: block;
		margin: 0;
	}

	.nav a{
		width: 100%;
		text-align: center;
		margin-right: 0;
		margin-left: 0;
		padding: 1em;
	}
	
	.nav-bar a, 
	.nav-bar a:link, 
	.nav-bar a:visited{
		list-style: none;
		float: right;
		color: white;
		text-decoration: none;
		margin: 0;
	}
	
	.nav a:hover,
	.nav a:focus,
	.nav a:active{	
		color: #858585;
	}
	
	.light{
		background-color: #C9E6CE;
	}
	
	.dark{
		background-color: #90D2C1;
	}
	
	.darker{
		background-color: #49BDB5;
	}
}

/*HEADER END*/

h1{
	font-size: 85px;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.name{
	background: url(../images/head-background.svg);
	padding: 15% 10% 10% 10%;
}

@media only screen and (max-width: 38em) {
	
	h1{
		font-size: 70px;
	}
	
	.name{
		padding: 20% 10% 10% 10%;
	}
}

@media only screen and (max-width: 32em) {
	
	h1{
		display: none;
	}
	
	.name{
		height: 150px;
	}
}

h2{
	font-size: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

/*ABOUT*/

.about{
	margin: 15% 25%;
}

@media only screen and (max-width: 35em) {
	.about{
		margin: 15%;
	}
}

/*ABOUT END*/

/*WORK*/

.work{
	margin: 15% 5%;
}

.left{
	overflow: hidden;
	display: block;
	text-align: center;
	margin-left: 11%;
}

.view{
	width: 40%;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	backround: #000000;
	margin: 20px;
	float: left;
}

.view img{
	width: 100%;
	display: block;
}

@media only screen and (max-width: 79em) {
	.view{
		width: 40%;
	}
}

@media only screen and (max-width: 70em) {
	.left{
		margin-left: 10%;
	}
}

@media only screen and (max-width: 62em) {
	.left{
		margin-left: 8%;
	}
}

@media only screen and (max-width: 54em) {
	.left{
		margin-left: 6%;
	}
}

/*@media only screen and (max-width: 52em) {
	.view p{
		font-size: 12px;
	}
}*/

@media only screen and (max-width: 30em) {
	.view {
		width: 90%;
	}
	
	.left{
		margin-left: 0;
	}
}

.view .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.view p {
    font-family: 'Roboto', serif;
    font-size: 18px;
    position: relative;
    color: #fff;
    padding: 0px 20px 20px;
    text-align: center; /*this line changes where the description ends up*/
	margin-top: -.5em;
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    color: #fff;
	font-size: 28px;
	margin-top: 20%;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(144,210,193, 0.7); 
    transition: all 0.4s ease-in-out;
}

.view-first p { 
    transform: translateY(100px);  
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first:hover .mask { 
    opacity: 1;
}

.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {
    transition-delay: 0.1s;
}

.work a{
	margin: .75em;
}

/*WORK END*/

/*CONTACT*/


.contact{
	margin: 15%;
}

.icon{
	width: 20%;
	display: inline-block;
	margin-right: 2em;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.last-icon{
	width: 20%;
	display: inline-block;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.social{
	display: block;
	text-align: center;
}

.icon:hover {
	-webkit-transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2);
	-o-transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
}

.last-icon:hover {
	-webkit-transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2);
	-o-transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
}

@media only screen and (max-width: 53.43em) {
	.icon{
		margin-right: 1em;
	}
}

@media only screen and (max-width: 31em) {
	h2{
		font-size: 35px;
	}
}

@media only screen and (max-width: 27em) {
	.icon{
		margin-right: .25em;
	}
	
	h2{
		font-size: 30px;
	}
}

/*CONTACT END*/

/*FOOTER*/

footer{
	background-color: #90D2C1;
	position: absolute;
	width: 100%
}

.footer-logo{
	width: 60px;	
	margin: 1em;
}

footer p{
	text-align: right;
	position: absolute;
	display: inline;
	right: 30px;
	bottom: 20px;
	color: white;
}

@media only screen and (max-width: 18em) {
	footer p{
		font-size: 12px;
		margin-bottom: 1.75em;
	}
}

/*FOOTER END*/