@charset "UTF-8";

@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

/*HEADER*/
	
header{
	background-color: rgba(235,235,235,0.8);
	position: fixed;
	width: 100%;
}

.logo {
	margin: 15px;
}

.nav-btn, 
.nav-btn:link, 
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 30px;
	right: 2%;
	background: url(../images/nav-icon.svg) no-repeat right center;
}

nav{
	width: 100%;
	float: right;
	margin: 1.6em 0;
	right: 5em;
}

nav li, 
nav li:link, 
nav li:visited{
	list-style: none;
	float: right;
	margin: 0 1em;
	color: grey;
}

nav li:hover,
nav li:focus,
nav li:active{	
	color: white;
}

.nav-top{
	display: none;
}

.nav-top[data-state="expanded"]{
	display: inline;
	position: absolute;
	margin-bottom: 30px;
}

/*HEADER END*/

h1{
	font-size: 85px;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

.name{
	background-color: #858585;
	padding: 15% 10% 10% 10%;
}

h2{
	font-size: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

/*ABOUT*/

.about{
	margin: 15%;
}

.about p{
	margin: 0 10em;
}

/*ABOUT END*/

/*WORK*/

.work{
	margin: 15% 5%;
}

.work a{
	margin: .75em;
}

.row1{
	margin: 0 0 .75em .9em;
}

.rows{
	margin: 1.5em 0 0 .9em;
}

/*WORK END*/

/*CONTACT*/

.contact{
	margin: 15%;
}

/*CONTACT END*/

/*FOOTER*/

footer{
	background-color: #E3E3E3;
	position: absolute;
	width: 100%
}

.footer-logo{
	width: 60px;	
	margin: 1em;
}

footer p{
	text-align: right;
	position: absolute;
	display: inline;
	right: 30px;
	bottom: 20px;
}

/*FOOTER END*/